
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

    /* Căn giữa bằng Flexbox */
body {
    display: flex;
    flex-direction: column; /* Căn các phần tử dọc */
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
     background-image: url("../images/background.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.TieuMan-text h1 {
    font-family: 'Dancing Script', cursive;
    color :#f0f0f0;
    text-align: center;
    }
.tieuman {
    font-size: 25px;
    }
button {
  padding: 12px 24px;
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #f06292, #ec407a);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


