html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

    /* Căn giữa bằng Flexbox */
body {
    display: flex;
    flex-direction: column; /* Căn các phần tử dọc */
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
     background-image: url("../images/background.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
.image-container {
  display: flex;           /* Hiển thị các ảnh nằm ngang */
  justify-content: center; /* Căn giữa ảnh theo chiều ngang */
  gap: 16px;               /* Khoảng cách giữa các ảnh */
  margin: 20px auto;
  flex-wrap: wrap;         /* Cho phép xuống hàng nếu nhỏ */
}
.image-container img {
  width: 25%;            /* Hoặc 30%, hoặc auto tùy bạn */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(100px);
  transition: all 2s ease; /* Cho phép hiệu ứng mượt */
  opacity: 0;
}
h1 {
    font-family: 'Dancing Script', cursive;
    color :#f0f0f0;
    text-align: center;
    }
.mygirl {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease; /* Cho phép hiệu ứng mượt */
    }

